$body-text-align: null !default;

// button
$btn-border-radius: $border-radius-base !default;

$btn-font-size-sm: $font-size-sm !default;
$btn-padding-y-sm: (1.5rem - $btn-font-size-sm) / 2 !default;
$btn-padding-x-sm: $p-xs !default;

$btn-font-size-base: $font-size-sm !default;
$btn-padding-y-base: (2rem - $btn-font-size-base) / 2 !default;
$btn-padding-x-base: $p-md !default;

$btn-font-size-lg: $font-size-base !default;
$btn-padding-y-lg: (2.5rem - $btn-font-size-lg) / 2 !default;
$btn-padding-x-lg: $p-lg !default;

// menu
$menu-height: 2.875rem !default;
$menu-size: $font-size-sm !default;

$menu-item-size: $font-size-xs !default;
$menu-item-px: 1.25rem !default;
$menu-item-active-border-bottom-size: 0.125rem !default;

$menu-drop-content-mt: 0.375rem !default;
$menu-drop-item-mb: 0.125rem !default;
$menu-drop-content-border-radius-width: 0.25rem !default;

$menu-icon-mr: $m-xs !default;
$menu-icon-size: $font-size-xs !default;
