@import './mixin';

$menu-prefix-cls: $ks-prefix + '-menu';
$icon-prefix-cls: $ks-prefix + '-icon';

.#{$menu-prefix-cls} {
  display: flex;
  margin: 0;
  padding: 0;
  color: $menu-item-color;
  font-size: $menu-size;
  line-height: $menu-height;
  list-style: none;
  background: $menu-bg;
  outline: none;

  .#{$icon-prefix-cls} {
    margin-right: $menu-icon-mr;
    font-size: $menu-icon-size;
  }
}

.#{$menu-prefix-cls}-item,
.#{$menu-prefix-cls}-submenu {
  @include borer-slide-right;

  padding: 0 $menu-item-px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: $menu-item-active-color;
  }
}

.#{$menu-prefix-cls}-item-selected,
.#{$menu-prefix-cls}-submenu-selected {
  @include menu-ite-active;
}

.#{$menu-prefix-cls}-item-disabled,
.#{$menu-prefix-cls}-submenu-disabled {
  @include menu-item-disabled;
}

.#{$menu-prefix-cls}-horizontal {
  border-bottom: 1px solid $menu-item-border-color;
}

// for model vertical
&.#{$menu-prefix-cls}-vertical,
.#{$menu-prefix-cls}-responsive {
  flex-direction: column;
  border-right: 1px solid $menu-item-border-color;

  .#{$menu-prefix-cls}-submenu {
    .#{$menu-prefix-cls}-vertical {
      position: static;
    }

    .#{$menu-prefix-cls}-item-selected {
      border-right: 1px solid $menu-item-active-border;
    }

    // add arrow
    .#{$menu-prefix-cls}-submenu-title {
      position: relative;
      display: flex;
      justify-content: space-between;
      outline: none;
    }

    .#{$menu-prefix-cls}-submenu-arrow {
      @include arrow-up;

      position: absolute;
      top: 50%;
      right: 16px;
    }

    &:hover {
      .#{$menu-prefix-cls}-submenu-arrow {
        @include arrow-hover;
      }
    }

    &.#{$menu-prefix-cls}-submenu-disabled {
      .#{$menu-prefix-cls}-submenu-arrow {
        @include arrow-disabled;
      }
    }
  }

  .#{$menu-prefix-cls}-submenu-open {
    .#{$menu-prefix-cls}-submenu-arrow {
      @include arrow-down-from-up;
    }
  }

  // remove border
  .#{$menu-prefix-cls}-item,
  .#{$menu-prefix-cls}-submenu {
    &::before {
      display: none;
    }
  }
}

.#{$menu-prefix-cls}-submenu {
  position: relative;

  .#{$menu-prefix-cls}-submenu-title {
    outline: none;
  }

  .#{$menu-prefix-cls} {
    border-radius: $menu-drop-content-border-radius-width;
    box-shadow: $menu-drop-content-box-shadow;
  }

  .#{$menu-prefix-cls}-item {
    font-size: $menu-item-size;

    &:not(:last-child) {
      margin-bottom: $menu-drop-item-mb;
    }

    &.#{$menu-prefix-cls}-item-selected {
      background-color: $menu-item-active-bg;
    }
  }

  .#{$menu-prefix-cls}-vertical {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    min-width: 100%;
    margin-top: $menu-drop-content-mt;
  }
}

// start to support responsive
.#{$menu-prefix-cls}-toggler {
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-color: $menu-toggler-border-color;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
}

.#{$menu-prefix-cls}-icon {
  display: inline-block;
  width: 0.8em;
  height: 1em;
  vertical-align: middle;
  background: no-repeat center center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-size: 100% 100%;
}

.#{$menu-prefix-cls}-responsive {
  &:not(.#{$menu-prefix-cls}-show) {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .#{$menu-prefix-cls}-toggler {
    display: none;
  }

  .#{$menu-prefix-cls}-navbar {
    .#{$menu-prefix-cls}-responsive {
      display: flex;
      flex-direction: row;
      border-right: 0;
    }
  }

  .#{$menu-prefix-cls}-responsive {
    .#{$menu-prefix-cls}-submenu {
      .#{$menu-prefix-cls}-vertical {
        position: absolute;

        .#{$menu-prefix-cls}-item-selected {
          border-right: 0;
        }
      }
    }

    // remove arrow in large screen & horizontal mode
    .#{$menu-prefix-cls}-submenu-arrow {
      display: none;
    }

    // recover border
    .#{$menu-prefix-cls}-item,
    .#{$menu-prefix-cls}-submenu {
      &::before {
        display: initial;
      }
    }

    .#{$menu-prefix-cls}-vertical {
      .#{$menu-prefix-cls}-item,
      .#{$menu-prefix-cls}-submenu {
        &::before {
          display: none;
        }
      }
    }

    .#{$menu-prefix-cls}-item-disabled,
    .#{$menu-prefix-cls}-submenu-disabled {
      &::before {
        display: none;
      }
    }
  }
}

.#{$menu-prefix-cls}-slide-enter {
  max-height: 0;
}

.#{$menu-prefix-cls}-slide-exit {
  max-height: 500px;
}

.#{$menu-prefix-cls}-slide-enter-active,
.#{$menu-prefix-cls}-slide-exit-active {
  overflow: hidden;
  transition: max-height 300ms ease-out;
}

.#{$menu-prefix-cls}-slide-exit-active {
  max-height: 0;
}

.#{$menu-prefix-cls}-slide-enter-active {
  max-height: 500px;
}
