@import './mixin';

$menu-prefix-cls: $ks-prefix + '-menu';

.#{$menu-prefix-cls} {
  display: flex;
  margin: 0;
  padding: 0;
  color: $menu-item-color;
  font-size: $menu-size;
  line-height: $menu-height;
  list-style: none;
  background: $menu-bg;
  outline: none;

  &.#{$menu-prefix-cls}-vertical {
    flex-direction: column;

    .#{$menu-prefix-cls}-item,
    .#{$menu-prefix-cls}-submenu {
      border-right: 1px solid $menu-item-border;
    }
  }
}

.#{$menu-prefix-cls}-item,
.#{$menu-prefix-cls}-submenu-title {
  padding: 0 $menu-item-px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: $menu-item-color;
  }
}

.#{$menu-prefix-cls}-horizontal {
  border-bottom: 1px solid $menu-item-border;

  .#{$menu-prefix-cls}-item {
    @include borer-slide-right;
  }

  .#{$menu-prefix-cls}-item-selected {
    color: $menu-item-color;

    &::before {
      right: 0;
    }
  }

  .#{$menu-prefix-cls}-item-disabled {
    @include menu-item-disabled;

    &::before {
      display: none;
    }
  }
}

.#{$menu-prefix-cls}-vertical {
  .#{$menu-prefix-cls}-item-disabled {
    @include menu-item-disabled;
  }

  .#{$menu-prefix-cls}-submenu {
    .#{$menu-prefix-cls}-vertical {
      position: static;
    }
  }
}

.#{$menu-prefix-cls}-submenu {
  position: relative;
  transition: all 0.3s ease-out;

  &.#{$menu-prefix-cls}-submenu-open,
  &.#{$menu-prefix-cls}-submenu-selected {
    color: $menu-item-color;
  }

  &.#{$menu-prefix-cls}-submenu-disabled {
    @include menu-item-disabled;
  }

  .#{$menu-prefix-cls}-submenu-title {
    outline: none;
  }

  .#{$menu-prefix-cls} {
    border-radius: $menu-drop-content-border-radius-width;
    box-shadow: $menu-drop-content-box-shadow;
  }

  .#{$menu-prefix-cls}-vertical {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    margin-top: $menu-drop-content-mt;
  }

  .#{$menu-prefix-cls}-item {
    left: 1px;
    margin-left: -1px;
    font-size: $menu-item-size;

    &:not(:last-child) {
      margin-bottom: $menu-drop-item-mb;
    }

    &:hover {
      color: initial;
      background-color: $menu-item-active-bg;
    }

    &::before {
      display: none;
    }

    &.#{$menu-prefix-cls}-item-selected {
      color: initial;
      background-color: $menu-item-active-bg;
    }
  }
}
