@import './mixin';

$menu-prefix-cls: $ks-prefix + '-menu';
$icon-prefix-cls: $ks-prefix + '-icon';

.#{$menu-prefix-cls} {
  display: flex;
  margin: 0;
  padding: 0;
  color: $menu-item-color;
  font-size: $menu-size;
  line-height: $menu-height;
  list-style: none;
  background: $menu-bg;
  outline: none;

  .#{$icon-prefix-cls} {
    margin-right: $menu-icon-mr;
    font-size: $menu-icon-size;
  }
}

.#{$menu-prefix-cls}-item,
.#{$menu-prefix-cls}-submenu {
  @include borer-slide-right;

  padding: 0 $menu-item-px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: $menu-item-active-color;
  }
}

.#{$menu-prefix-cls}-item-selected,
.#{$menu-prefix-cls}-submenu-selected {
  @include menu-ite-active;
}

.#{$menu-prefix-cls}-item-disabled,
.#{$menu-prefix-cls}-submenu-disabled {
  @include menu-item-disabled;
}

.#{$menu-prefix-cls}-horizontal {
  border-bottom: 1px solid $menu-item-border-color;
}

// for model vertical
&.#{$menu-prefix-cls}-vertical {
  flex-direction: column;
  border-right: 1px solid $menu-item-border-color;

  .#{$menu-prefix-cls}-submenu {
    .#{$menu-prefix-cls}-vertical {
      position: static;
    }

    .#{$menu-prefix-cls}-item-selected {
      border-right: 1px solid $menu-item-active-border;
    }

    // add arrow
    .#{$menu-prefix-cls}-submenu-title {
      position: relative;
      display: flex;
      justify-content: space-between;
      outline: none;
    }

    .#{$menu-prefix-cls}-submenu-arrow {
      @include arrow-up;

      position: absolute;
      top: 50%;
      right: 16px;
    }

    &:hover {
      .#{$menu-prefix-cls}-submenu-arrow {
        @include arrow-hover;
      }
    }

    &.#{$menu-prefix-cls}-submenu-disabled {
      .#{$menu-prefix-cls}-submenu-arrow {
        @include arrow-disabled;
      }
    }
  }

  .#{$menu-prefix-cls}-submenu-open {
    .#{$menu-prefix-cls}-submenu-arrow {
      @include arrow-down-from-up;
    }
  }

  // remove border
  .#{$menu-prefix-cls}-item,
  .#{$menu-prefix-cls}-submenu {
    &::before {
      display: none;
    }
  }
}

.#{$menu-prefix-cls}-submenu {
  position: relative;

  .#{$menu-prefix-cls}-submenu-title {
    outline: none;
  }

  .#{$menu-prefix-cls} {
    border-radius: $menu-drop-content-border-radius-width;
    box-shadow: $menu-drop-content-box-shadow;
  }

  .#{$menu-prefix-cls}-item {
    font-size: $menu-item-size;

    &:not(:last-child) {
      margin-bottom: $menu-drop-item-mb;
    }

    &.#{$menu-prefix-cls}-item-selected {
      background-color: $menu-item-active-bg;
    }
  }

  .#{$menu-prefix-cls}-vertical {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    min-width: 100%;
    margin-top: $menu-drop-content-mt;
  }
}
