@mixin button-color($color, $bg, $bd-color) {
  color: $color;
  background-color: $bg;
  border-color: $bd-color;
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

@mixin btn-danger-default {
  @include button-color($error-color, $btn-default-bg, $error-color);
}
