$body-bg: $white !default;
$body-color: $text-color !default;

// button
$btn-default-color: $text-color !default;
$btn-default-bg: $body-bg !default;
$btn-default-border: $border-color-base !default;

$btn-primary-color: $white !default;
$btn-primary-bg: $primary !default;
$btn-primary-border: $primary !default;

$btn-danger-color: $body-bg !default;
$btn-danger-bg: $error-color !default;
$btn-danger-border: $error-color !default;

$btn-link-color: $link-color !default;
$btn-link-bg: transparent !default;
$btn-link-border: transparent !default;

$btn-disable-color: $disabled-color !default;
$btn-disable-bg: $disabled-bg !default;
$btn-disable-border: $border-color-base !default;

// menu
$menu-bg: $white !default;

$menu-item-color: $text-color !default;
$menu-item-border-color: $border-color-base !default;
$menu-submenu-arrow-bg: $text-color !default;
$menu-toggler-border-color: $border-color-base !default;

$menu-item-disable-color: $disabled-color !default;
$menu-submenu-arrow-disabled-bg: $disabled-color !default;

$menu-item-active-color: $primary !default;
$menu-item-active-border: $primary !default;
$menu-item-active-bg: $secondary !default;
$menu-submenu-arrow-active-bg: $primary !default;

$menu-drop-content-box-shadow: 0 1px 6px hsla(0, 0%, 39%, 0.2) !default;
