// 系统色板 - 基础色板
$blue-base: #0984e3 !default;
$indigo: #6c5ce7 !default;
$purple: #a29bfe !default;
$pink: #fd79a8 !default;
$red: #f54745 !default;
$orange: #fd7e14 !default;
$yellow: #ffce03 !default;
$green: #35b34a !default;
$teal: #20c997 !default;
$cyan: #00c1de !default;

// 系统色板 - 中性色板
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// 产品色板 - 品牌色
$primary: $cyan !default;
$secondary: #e6fffe !default;

// 产品色板 - 功能色板
$success: $green !default;
$info: $primary !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// 文字
$text-color: $gray-900 !default;

// 状态
$disabled-color: $gray-500 !default;
$disabled-bg: hsl(0, 0, 96%) !default;
$error-color: $danger !default;

// border
$border-color-base: hsl(0, 0, 85%) !default;

// body
$body-bg: $white !default;
$body-color: $text-color !default;

// 链接
$link-color: $primary !default;
$link-hover-color: darken($link-color, 15%) !default;

// button
$btn-default-color: $text-color !default;
$btn-default-bg: $body-bg !default;
$btn-default-border: $border-color-base !default;

$btn-primary-color: $white !default;
$btn-primary-bg: $primary !default;
$btn-primary-border: $primary !default;

$btn-danger-color: $body-bg !default;
$btn-danger-bg: $error-color !default;
$btn-danger-border: $error-color !default;

$btn-link-color: $link-color !default;
$btn-link-bg: transparent !default;
$btn-link-border: transparent !default;

$btn-disable-color: $disabled-color !default;
$btn-disable-bg: $disabled-bg !default;
$btn-disable-border: $border-color-base !default;

// menu
$menu-bg: $white !default;

$menu-item-color: $text-color !default;
$menu-item-border-color: $border-color-base !default;
$menu-submenu-arrow-bg: $text-color;

$menu-item-disable-color: $disabled-color !default;
$menu-submenu-arrow-disabled-bg: $disabled-color !default;

$menu-item-active-color: $primary !default;
$menu-item-active-border: $primary !default;
$menu-item-active-bg: $secondary !default;
$menu-submenu-arrow-active-bg: $primary !default;

$menu-drop-content-box-shadow: 0 1px 6px hsla(0, 0%, 39%, 0.2) !default;
