.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.box {
  width: 9rem;
  height: 9rem;
  margin-top: 1rem;
  background-color: #00c1de;
}
